.community-hub {
    background-image: url('../assets/community_hub.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
