.info-window {
  max-width: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.info-window h2 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.info-window p {
  margin: 0 0 10px;
  font-size: 0.9rem;
  color: #666;
  text-align: left;
}

.info-window button {
  padding: 8px 25px 8px 25px;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.info-window button:hover {
  background-color: #0056b3;
}

.search {
  color: black;
  display: flex;
  justify-content: flex-start;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 304px;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
  border-color: #494949;
  outline: none;
}

.search-results {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1000;
  width: 300px;
  background-color: white;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.search-results li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #565656;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.info-window button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.info-window button:hover {
  background-color: #0056b3;
}

.community-button {
  position: absolute;
  bottom: 25px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.community-button-image {
  width: 90px;
  height: 60px; 
  cursor: pointer;
  transition: border 0.3s ease;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.community-button-image:hover {
  border: 1px solid black;
}