.super-bubble {
    background-image: url('../assets/supperbubble.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.back-button button {
    position: absolute;
    background-color: #757575;
    top: 245px;
    left: 32px;
    color: white;
    border: none;
    padding: 13px 137px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.back-button button:hover {
    background-color: #494949;
}